    .pagWarp{
        height: 40px;
        /*box-shadow: 0 2px 5px #b6b6b6;*/
        border-radius: 2px;
        right: 42%;
    }
    #btnL,#btnR{
        line-height: 40px;
        cursor: pointer;
    }
    #btnL{
        float: left;
    }
    #btnR{
        float: right;             
    }
    .pagWarp ul{        
        height: 40px;
        margin: 0 auto;
        float: left;
        text-align: center;
        padding-left: 40px;
        padding-right: 40px;
    }
    .pagWarp ul li{
        float: left;
        text-align: center;
        line-height: 40px;
        padding: 0 4px;
    }
    .active{
        color: blue;
        font-size: 30px;
    }
